@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #09090b;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #09090b;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}